<% layout('layouts/boilerplate.ejs') %>
<body>
  <h1 class="mt-3">Edit Listing</h1>
  <form class="mt-3 needs-validation" action="/listing/<%= editList._id %>?_method=PUT" method="post" novalidate>
    <div class="row">
      <div class="col-8 offset-2">
        <div class="md-3">
          <label for="listing[title]" class="form-label"
            >Edit Airbnb title</label
          >
          <input
            type="text"
            name="listing[title]"
            value="<%= editList.title %>"
            class="form-control"
            required
          />
          <div class="valid-feedback">title looks good</div>
        </div>
        <div class="md-3">
          <label for="listing[description]" class="form-label"
            >Edit description of your Airbnb</label
          >
          <br />
          <textarea
            name="listing[description]"
            cols="30"
            rows="10"
            class="form-control"
            required
          >
<%= editList.description %></textarea
          >
          <div class="invalid-feedback">needs descriptive information</div>
        </div>
        <div class="md-3">
          <label for="listing[image]" class="form-label"
            >Edit image URL/Link
          </label>
          <input
            type="text"
            name="listing[image]"
            value="<%= editList.image %>"
            class="form-control" required
          />
          <div class="invalid-feedback">please enter a valid link </div>
        </div>
        <div class="row">
        <div class="md-3 col-md-4">
          <label for="listing[price]" class="form-label">Edit price rate</label>
          <input
            type="number"
            name="listing[price]"
            value="<%= editList.price %>"
            class="form-control" required
          />
          <div class="invalid-feedback">please enter a valid price </div>
        </div>
        <div class="md-3 col-md-8">
          <label for="listing[country]" class="form-label">Edit country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= editList.country %>"
            class="form-control" required
          />
          <div class="invalid-feedback">enter a valid country name</div>
        </div>
    </div>
        <div class="md-3">
          <label for="listing[location]" class="form-label"
            >Edit Location</label
          >
          <input
            type="text"
            name="listing[location]"
            value="<%= editList.location %>"
            class="form-control" required
          />
          <div class="invalid-feedback">enter a valid location </div>
        </div>
        <button  class="mt-3 form-btn" type="submit">Edit</button>
      </div>
    </div>
  </form>
</body>
